
  <h1>New Booking</h1>
  Hi, <%= @cleaner.first_name %>
  <br>

  <div class="form-group">
    Name:
    <%= @booking.customer_first_name %>, <%= @booking.customer_last_name %>
  </div>
  <div class="form-group">
    Cleaner Assigned:
    <%= @booking.cleaner_first_name %>, <%= @booking.cleaner_last_name %>
  </div>
  <div class="form-group">
    Booking Schedule Date:
    <%= @booking.date.strftime("%Y-%b-%d") %>
  </div>
  <div class="form-group">
    Booking At:
    <%= @booking.created_at.strftime("%Y-%b-%d") %>
  </div>