<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= link_to 'Show Customer', customer_path(@booking.customer) %>
</p>

<p>
  <strong>Cleaner:</strong>
  <%= link_to 'Show Cleaner', cleaner_path(@booking.cleaner) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
