<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <ul>
  <% if @customer.bookings.present? %>
    <% @customer.bookings.each do |booking| %>
      <li><%= link_to "Booking #{booking.id}", booking_path(booking) %></li>
    <% end %>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
